# Lighter L1 account and API key details (do not check them in to git!)
LIGHTER_L1_ACCOUNT_ADDRESS=
LIGHTER_L1_ACCOUNT_PRIVATE_KEY=
LIGHTER_API_PRIVATE_KEY=
LIGHTER_API_PUBLIC_KEY=
LIGHTER_API_KEY_INDEX=
LIGHTER_ACCOUNT_INDEX=
